<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCCC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/x-icon" href="/images/ico.ico">
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3 align-items-center d-flex justify-content-center">
                <!-- Añadida la clase para centrar -->
                <div class="list-group">
                    <a href="/sere/Ejemplo" class="list-group-item list-group-item-action">CASOS</a>
                    <a href="/sere/hola2?IDCuenta=<%= idCuenta %>" class="list-group-item
                        list-group-item-action">Información Financiera y Legal</a>
                    <a href="/sere/hola3?IDCuenta=<%= idCuenta %>"
                        class="list-group-item list-group-item-action">Detalles del Proceso Judicial</a>
                    <a href="/sere/hola4?IDCuenta=<%= idCuenta %>"
                        class="list-group-item list-group-item-action">Seguimiento y Gestión del Caso</a>
                </div>
            </div>
            <div class="col-md-9">
                <h2>SEGUIMIENTO Y GESTIÓN DEL CASO</h2>
                <hr>
                <%- include('partials/DatosDeudorGestionCaso') %>
                <div id="lista-procesoJudicial" class="text-center">
                    <!-- Aquí se mostrarán los importes -->
                </div>
                <script>
                    function mostrarProceso() {
                        fetch('/sere/ObtenerProcesoJudicial?IDCuenta=<%= idCuenta %>')
                            .then(response => response.json())
                            .then(data => {
                                const listaProceso = document.getElementById('lista-procesoJudicial');
                                listaProceso.innerHTML = ''; // Limpiar la lista antes de agregar nuevos elementos
            
                                if (data.resultados.length === 0) {
                                    const mensaje = document.createElement('p');
                                    mensaje.textContent = 'No hay procesos judiciales recuperados para esta cuenta aún.';
                                    listaProceso.appendChild(mensaje);
                                } else {
                                    const accordion = document.createElement('div');
                                    accordion.id = 'accordionExample';
                                    accordion.classList.add('accordion');
                                    accordion.classList.add('text-center');
            
                                    data.resultados.forEach((proceso, index) => {
                                        const card = document.createElement('div');
                                        card.classList.add('accordion-item');
            
                                        const cardHeader = document.createElement('h2');
                                        cardHeader.classList.add('accordion-header');
                                        cardHeader.id = `heading${index}`;
                                        cardHeader.innerHTML = `
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${index}" aria-expanded="false" aria-controls="collapse${index}">
                                                Expediente: ${proceso.Expediente}
                                            </button>
                                        `;
            
                                        const collapse = document.createElement('div');
                                        collapse.id = `collapse${index}`;
                                        collapse.classList.add('accordion-collapse', 'collapse');
                                        collapse.setAttribute('aria-labelledby', `heading${index}`);
                                        collapse.setAttribute('data-bs-parent', '#accordionExample');
            
                                        const cardBody = document.createElement('div');
                                        cardBody.classList.add('accordion-body');
                                        cardBody.innerHTML = `
                                            <table class="table table-info container">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>RFC</th>
                                                        <th>EXPEDIENTE</th>
                                                        <th>JUZGADO</th>
                                                        <th>JURISDICCIÓN</th>
                                                        <th>FECHA DE REGISTRO DEL PROCESO JUDICIAL</th>
                                                        <th>ESTADO DEL CASO</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>${proceso.RFCDespacho}</td>
                                                        <td>${proceso.Expediente}</td>
                                                        <td>${proceso.Juzgado}</td>
                                                        <td>${proceso.Jurisdiccion}</td>
                                                        <td>${proceso.FechaRegistro}</td>
                                                        <td>${proceso.EstadoDelCaso}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <form id="form-${index}" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="FechaProximasAcciones-${index}">Fecha próximas acciones:</label>
                                                            <input type="date" name="FechaProximasAcciones" id="FechaProximasAcciones-${index}" class="form-control text-center" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="ProximasAcciones-${index}">Próximas acciones:</label>
                                                            <input type="text" name="ProximasAcciones" id="ProximasAcciones-${index}" class="form-control text-center" maxlength="100" required>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="SoporteActuaciones-${index}">Soporte de actuaciones:</label>
                                                            <input type="file" name="SoporteActuaciones" id="SoporteActuaciones-${index}" class="form-control text-center" maxlength="100" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="DocumentosProcesales-${index}">Documentos procesales</label>
                                                            <input type="file" name="DocumentosProcesales" id="DocumentosProcesales-${index}" class="form-control text-center" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="RFC" value="${proceso.RFCDespacho}">
                                                <input type="hidden" name="Id" value="${proceso.ID}">
                                                <button type="submit" class="btn btn-primary">Guardar</button>
                                            </form>
                                        `;
            
                                        collapse.appendChild(cardBody);
                                        card.appendChild(cardHeader);
                                        card.appendChild(collapse);
                                        accordion.appendChild(card);
            
                                        listaProceso.appendChild(accordion);
            
                                        document.getElementById(`form-${index}`).addEventListener('submit', function(event) {
                                            event.preventDefault();
                                            
                                            const formData = new FormData(this);
            
                                            fetch('/sere/EstadoDelCaso?IDCuenta=<%= idCuenta %>', {
                                                method: 'POST',
                                                body: formData
                                            })
                                            .then(response => response.json())
                                            .then(data => {
                                                alert("Datos enviados correctamente");
                                            })
                                            .catch(error => {
                                                console.error('Error:', error);
                                            });
                                        });
                                    });
                                }
                            });
                    }
                    mostrarProceso();
                </script>
                    <form action="#">
                        <h2>Feedback del caso</h2>
                        <hr>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="RetroalimentacionCliente">Comentarios:</label>
                                <textarea name="Retroalimentacion" id="Retroalimentacion" maxlength="450"
                                    class="form-control" rows="6" required></textarea>
                            </div>
                        </div>
                        <label for="RFC"></label>
                        <input type="text" value="<%= RFC %>" name="RFC" id="RFC">
                        <label for="Id"></label>
                        <input type="number" name="Id" id="Id" value="<%= idCuenta %>">
                        <label for="fechaHoraPagare"></label>
                        <input type="datetime-local" id="fechaHoraPagare" name="fechaHoraPagare"><br>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>