<table class="table table-bordered table-striped-columns">
    <thead class="thead-dark">
        <tr class="table-dark">
            <th># de caso</th>
            <th># cliente padre</th>
            <th># cliente hijo</th>
            <th>Razón social del deudor</th>
            <th>RFC del deudor</th>
        </tr>
    </thead>
    <tbody>
        <% results.forEach(result=> { %>
            <tr>
                <td>
                    <%= result.IDCuenta %>
                </td>
                <td>
                    <%= result.NoClientePadre %>
                </td>
                <td>
                    <%= result.NoClienteHijo %>
                </td>
                <td>
                    <%= result.RazonSocial %>
                </td>
                <td>
                    <%= result.Rfc %>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>