<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>IDCuenta</th>
            <th># CLIENTE PADRE</th>
            <th># CLIENTE HIJO</th>
            <th>Razon Social</th>
            <th>RFC</th>
        </tr>
    </thead>
    <tbody>
        <% results.forEach(result=> { %>
            <tr>
                <td>
                    <%= result.IDCuenta %>
                </td>
                <td>
                    <%= result.NoClientePadre %>
                </td>
                <td>
                    <%= result.NoClienteHijo %>
                </td>
                <td>
                    <%= result.RazonSocial %>
                </td>
                <td>
                    <%= result.Rfc %>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>